<!--The about section of the homepage -->

<!--PageSpeed screenshot-->
<div class="d-flex justify-content-center col-md-12">
  <img alt="a score of 98 on google pageSspeed test" src="/images/speed2.png" alt="A fast webpage being tested on google" class="lozad col-md-7">
</div>

<!--Google analytics screenshot-->
<img id="viewport" alt="google analytics graph" src="/images/analytics.png" class="lozad col-md-7 analytics">
<div class="d-flex p-4 bg-transparent"></div>


 <!--Comments-->

 <!--The following section fades in from the right-->
<div class="col-md-4 offset-md-1" id="2" data-aos="fade-right">

  <div class="card col-md-12 products">
    <h2><img alt="open package" src="/images/icons/empty-box.png">
    Comments</h2>

    <p> Few things are more frustrating than lack of commenting. 
      That is why I prioritized frequent commenting.</p>
  </div>

  <div class="d-flex p-3 bg-transparent"></div>
  <div class="card col-md-12 tools">
    
  <!--Plugins-->
    <h2 class=""><img alt="toolbox" src="/images/icons/toolbox.png">
      Plugins</h2>
    <p>Jtheme comes with a few plugins by defualt that include
      a sitemap plugin that automatically generates a sitemap for google,
      an RSS feed plugin, and an asset optimization plugin.
    </p>
  </div>

  <div class="d-flex p-3 bg-transparent"></div>

  <!--Libraries-->
  <div class="card col-md-12 process">
    <h2 class=""><img alt="wrench and screwdriver" src="/images/icons/wrench.png">
      Libraries</h2>
    <p>Bootstrap, animate.css, and aos.js (animate on scroll) are just a few of the libraries added to Jtheme in 
      order to speed up your development process.</p>
  </div>
</div>