
<!--This file contains the navigation elements-->


<!--Only allows fade in animation on the homepage-->
    {% unless page.title == 'Home' %}
    <nav class="card-group navbar-expand-md col-md-12 heading">
    {% else %}
    <nav class="card-group navbar-expand-md col-md-12 animated fadeInDown delay-1s heading">
  {% endunless %}

      <!--Home-->
        <a href="/index.html" class="card col-md-3 card-head" style="border-radius:5px;">
       <h2 class="header d-flex justify-content-center">Home
         <img alt="features spedometer" class="Icon" src="/images/icons/speed.png">
       </h2>
         <p class="card-body description">Fast loading speeds | SEO Optimized

         </p>
       </a>

      <!--Blog-->
         <a href="/blog.html#disqus_thread" class="card col-md-3 card-head" style="border-radius:5px;">
       <h2 class="header d-flex justify-content-center">News
         <img class="Icon" alt="about running man" src="/images/icons/exercise.png">
       </h2>
       <p class="card-body description">Documentation | Libraries | Conventions used</p>
       </a>
       
       <!--FAQ-->
         <a href="/FAQ.html" class="card col-md-3 card-head" style="border-radius:5px;">
       <h2 class="header d-flex justify-content-center">FAQ
         <img class="Icon" alt="solutions upward graph" src="/images/icons/increase.png">
         </h2>
       <p class="card-body description">Answers to your questions | Accordian styled content</p>
       </a>
       
       <!--Contact-->
       <a href="/contact.html" class="card col-md-3 card-head" style="border-radius:5px;">
       <h2 class="header d-flex justify-content-center">Contact
       <img class="Icon" alt="contact envelope" src="/images/icons/mail.png">
       </h2>
       <p class="card-body description">jaynkystudio@gmx.com |
        Discord: jay#3130 </p>
       </a>
       
</nav>