<!--FAQ template
  
    The accordian tabs are powered through Bootstrap.js

-->


{% include head.html %}
{% include navigation.html %}

<div class="d-flex p-4 bg-transparent"></div>
<div class="d-flex p-4 bg-transparent"></div>
<div class="d-flex p-4 bg-transparent"></div>

<!--Main Title-->
<h1 class="title text-center">FAQ</h1>


<div class="d-flex justify-content-center justify-content-center">

    <div class="col-md-6">
    <div class="accordion" id="accordionExample">

      <!--Tab #1-->
        <div class="card">
          <div class="card-header" id="collapse">
            <h5 class="mb-0">
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                What do I need to get started?
              </button>
            </h5>
          </div>

          <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
                You need Jekyll (obviously). Ruby and bundler would be good. You can use the <pre><b>bundle</b></pre> command to 
                automatically install all the plugins. Thats right *all* the plugins. Furthermore <pre><b>jekyll serve</b></pre>
                sets up a local server where you can test the website. Also Linux command line is awesome, but you could try to use
                a different shell. Your funeral.             
            </div>
          </div>
        </div>

        <!--Tab #2-->
        <div class="card">
          <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                What applications is this theme good for?
              </button>
            </h5>
          </div>

          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body">
                As I have said many times before, this theme is built to be modular. You could write just about any static site you wanted
                with this theme. That said, I specifically targeted small businesses/developers working for small businesses.
                That's why the blog is separate from the mainpage.
            </div>
          </div>
        </div>

        <!--Tab #3-->
        <div class="card">
          <div class="card-header" id="headingThree">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Can you setup the website for me?
              </button>
            </h5>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body">
              Depending on the project and the pay, I could be up for coding your website.
              If you would like a quote or have questions, send me an email (or dm me on Discord). 
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex p-4 bg-transparent"></div>
  <div class="d-flex p-4 bg-transparent"></div>
  <div class="d-flex p-4 bg-transparent"></div>
  <div class="d-flex p-4 bg-transparent"></div>
  
      {% include footer.html %}