<!--
    ~~~Home page layout~~~

    Conventions:
    Vertical spacing: <div class="d-flex p-4 bg-transparent"></div>
    Horizontal centering: <div class="d-flex justify-content-center">

-->


{% include head.html %}
{% include navigation.html %}


<div class="d-flex p-4 bg-transparent"></div>
<div class="d-flex p-4 bg-transparent"></div>


<!--Main Title-->
<div class="row justify-content-center col-md-12">
    <h1 class="display-3 title animated lightSpeedIn delay-0.2s" >
     Build Your Site</h1>
</div>

<div class="row justify-content-center col-md-12">
    <h2 class="lead subtitle animated slideInLeft delay-0.5s">
     A high performing Jekyll theme for developers
    </h2>
</div>

<div class="d-flex p-4 bg-transparent description"></div>
<div class="d-flex p-4 bg-transparent description"></div>
<div class="d-flex p-4 bg-transparent description"></div>
<div class="d-flex p-4 bg-transparent description"></div>
<div class="d-flex p-4 bg-transparent description"></div>
<div class="d-flex p-4 bg-transparent description"></div>

{% include features.html %}
{% include about.html %}

<div class="d-flex p-4 bg-transparent"></div>
<div class="d-flex p-4 bg-transparent"></div>

{% include solutions.html %}

{% include footer.html %}